/* Index-Login Agente-Registro Usuario*/

#umtttsv1 {
    width: 35%;
    height: 30px;
}

#bandera1 {
    width: 100%;
    height: 5px;
    clear: left;
    float: left;
}

#umtttsv2 {
    width: 35%;
    height: 30px;
}

#bandera2 {
    width: 100%;
    height: 5px;
    clear: left;
    float: left;
}

#umtttsv3 {
    width: 35%;
    height: 30px;
}

#bandera3 {
    width: 100%;
    height: 5px;
    clear: left;
    float: left;
}

#img1 {
    float: right;
    width: 25%;
}

#pciudad {
    float: right;
}

h1 {}


/*Agentes*/

#img1 {
    float: right;
}

#umtttsv4 {
    width: 35%;
    height: 30px;
}

#bandera4 {
    width: 100%;
    height: 5px;
    clear: left;
    float: left;
}

#img2 {
    float: right;
    width: 15%;
}

#camara {
    width: 25%;
}


/*UsuarioQR*/

#umtttsv5 {
    width: 35%;
    height: 30px;
}

#bandera5 {
    width: 100%;
    height: 5px;
    clear: left;
    float: left;
}

#camaraUs {
    width: 35%;
}

#pciudad2 {
    float: right;
    clear: right;
    width: 20%
}


/*Agentes Informacion*/

#umtttsv6 {
    width: 35%;
    height: 30px;
}

#bandera6 {
    width: 100%;
    height: 5px;
    clear: left;
    float: left;
}

#qr {
    clear: left;
    float: left;
    width: 100%
}

#escudo {
    clear: right;
    float: right;
    width: 100%
}


/*Usuario Denuncia*/
#visto {
        width: 30%;
        height: 20px;
        clear: left;
        float: left;
    }
}

#detallesBorder {
    border-radius: 25px;
    border: 1px solid #8AC007;
    padding: 20px;
    width: 90%;
    height: 95%;
}

#umtttsv7 {
    width: 35%;
    height: 30px;
}

#bandera7 {
    width: 100%;
    height: 5px;
    clear: left;
    float: left;
}

#smallImage {
    width: 10%
}

#qrD {
    clear: left;
    float: left;
    width: 100%;
    height: 400px;
}

#escudoD {
    clear: right;
    float: right;
    width: 100%
}


/**/